<div class="containt-fluid mt-5 p-5">
    <form [formGroup]="searchForm" (ngSubmit)="submitForm()">
        <div class="row">
            <div class="mb-3 col-lg-10">
                <input type="text" class="form-control" formControlName="movieName" placeholder="Search Movie Title Here...">
            </div>
            <div class="col-lg-2">
                <button type="submit" class="btn btn-md">Search</button>
            </div>
        </div>
    </form>
</div>

<div class="contain mt-3 p-3">
    <!-- trending Movies -->
    <div class="row">
        <h5 class="text-white">Search Results</h5>
        <div class="rowposter mt-3 p-3" data-bs-interval="10000">
            <ng-container *ngFor="let r of searchResult; let i =  index;">
                <img src="https://image.tmdb.org/t/p/original/{{r.poster_path}}" class="rowimg largeposter" alt="...">
            </ng-container>
        </div>
    </div>
</div>