<!-- banner start -->
<div class="containt-fluid">
    <div id="carouselExampleDark" class="carousel carousel-dark slide">
        <div class="carousel-inner">
            <div class="carousel-item " data-bs-interval="10000" *ngFor="let b of bannerResult;let i=index"
                [ngClass]="{active:i===1}">
                <img src="https://image.tmdb.org/t/p/original/{{b.backdrop_path}}" class="d-block w-100" alt="..."
                    [routerLink]="['/movie',b.id]">
                <div class="carousel-caption d-none d-md-block">
                    <h2>{{b.original_title}}</h2>
                    <p style="font-size: 25px;">{{b.overview}}</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- banner end  -->

<div class="contain mt-3 p-3">
    <!-- trending Movies -->
    <h1 class="caption mt-7">Trending Movies right now</h1>
    <div id="trendingmoviecarousel" class="carousel carousel-dark slide mt-3" >
        <div class="carousel-inner">
            <div class="trendingcarousel" >
                <div class="carousel-item" data-bs-interval="10000" *ngFor="let b of trendingResult;let i=index"
                    [ngClass]="{active:i===0}" >
                    <div class="items">
                        <div class="item">
                            <img src="https://image.tmdb.org/t/p/original/{{b.backdrop_path}}" class="d-block w-100"
                                alt="..." [routerLink]="['/movie',b.id]">
                            <div class="carousel-caption d-none d-md-block">
                                <h2>{{b.original_title}}</h2>
                            </div>
                        </div>
                        <div class="item">
                            <img src="https://image.tmdb.org/t/p/original/{{trendingResult[i+1].backdrop_path}}" class="d-block w-100"
                                alt="..." [routerLink]="['/movie',trendingResult[i+1].id]">
                            <div class="carousel-caption d-none d-md-block">
                                <h2>{{trendingResult[i+1].original_title}}</h2>
                            </div>
                        </div>
                        <div class="item">
                            <img src="https://image.tmdb.org/t/p/original/{{trendingResult[i+2].backdrop_path}}" class="d-block w-100"
                                alt="..." [routerLink]="['/movie',trendingResult[i+2].id]">
                            <div class="carousel-caption d-none d-md-block">
                                <h2>{{trendingResult[i+2].original_title}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#trendingmoviecarousel"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#trendingmoviecarousel"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>